%tr
  %td
    =h survey_answer.id
  %td
    .info
      .flag
        =flag_for_country_id(survey_answer.country_id)
        =country_name_for_country_id(survey_answer.country_id)
  %td
    =h survey_answer.gender
  %td
    =h survey_answer.answer_1
  %td
    =h survey_answer.answer_2
  %td
    =h survey_answer.answer_3
  %td
    =h survey_answer.answer_4
  // %td
  //   =h survey_answer.email
  %td
    = link_to 'Show', survey_answer
    = link_to 'Edit', edit_survey_answer_path(survey_answer)
    = link_to 'Destroy', survey_answer, :confirm => 'Are you sure?', :method => :delete
    
    
    