.errorExplanation p{
  display: none;
}

.survey .errorExplanation h2{
  display: none;
}

.survey .errorExplanation li{
  color: red;
}


.survey input.error{
  background-color: red;
  color: black;
}

.survey{
	margin:0px 0 0px 0;
	padding:0;
	font-size:small;
	font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
}

iframe{
  border:0px #FFFFFF none;
}

div#facebox .body {
  padding: 0;
}


.survey h2{
  display: block;
  width: 100%;
  background-color: #C53B1C;
  color: white;
  height: 34px;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 0px;
}

.survey h4{
 margin: 0; 
 padding: 0;  
}

.subtitle{
 font-size: 95%; 
 color: #555555;
}

.survey .survey_content{
  padding-left: 10px;
  padding-right: 10px;  
}

.survey h3{
  color: #94240D;
  padding: 5px 10px;
  margin-top: 0px;
  background-color: #F6C35F;
  font-size:95%;
}

.survey p.submit{
  display: block;
  background-color: #C53B1C;
  text-align: center;
  padding: 5px 0px;
}

.survey #survey_submit{
  width: 100px;
  height: 30px;
}


.survey .error{
  clear:both;
  color:red;
}

.survey{
  width: 500px;
}

/* ----- LOGO ----- */

.survey h1{
	margin:0;
	padding:0;
	min-height:0;
	background-color:#dedede;
	text-indent:-9000px;
	text-decoration:none;
}
.survey form ul{
	margin:0;
	padding:0;
	list-style-type:none;
	width:100%;
}
.survey form li{
	display:block;
	margin:0;
	padding:6px 5px 9px 9px;
	clear:both;
}
.survey form li:after, form li div:after{
	content:"."; 
	display:block;
	height:0; 
	clear:both; 
	visibility:hidden;
}

/* ----- LABELS ----- */

.survey form li div label, .survey form li span label{
	margin:0;
	padding-top:6px;
	clear:both;
	font-size:85%;
	line-height:100%;
	color:#444;
	display:block;
}
form li div span label{
	padding-bottom:12px;
}
.survey label.desc{
	font-size:95%;
	font-weight:bold;
	color:#222;
	line-height:150%;
	margin:0;
	padding:0 0 3px 0;
	border:none;
	display:block;
	width: 200px;
	float: left;
}

.survey .label_with_subtitle{
  width: 200px;
  float: left;
}

.survey label.choice{
	display:block;
	font-size:100%;
	line-height:150%;
	margin:-17px 0 0 23px;
	padding:0 0 5px 0;
	color:#222;
	width:88%;
}
