!!! XML
!!! Strict
%html{html_attrs("es")}
  %head
    %meta{content_type_attrs("text/html")}
    %title=yield(:title)

    =javascript_include_tag 'jquery.js', 'jquery.form.js', 'jquery.validate.js'
    =stylesheet_link_tag "survey_answers"
    
    
  %body
    =yield

    =yield(:javascript)

    / #spinner
    /   =image_tag "facebox/loading.gif"

    -if ANALYTICS
      -if current_user.login != "fabito" and current_user.login != "elenoide"
        :erb
          <script type="text/javascript">
          var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
          document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
          </script>
          <script type="text/javascript">
          try {
          var pageTracker = _gat._getTracker("UA-8678890-1");
          pageTracker._trackPageview();
          } catch(err) {}</script>
