!!! XML
!!! Strict
%html{html_attrs("es")}
  %head
    %meta{content_type_attrs("text/html")}
    %title=yield(:title)

    =javascript_include_tag 'jquery.js', 'jquery.form.js', 'jquery.validate.js', 'facebox.js', 'jquery.timers.js'
    =stylesheet_link_tag "survey_answers", 'facebox'
    
    
  %body
    =yield

    =yield(:javascript)

    #loading_spinner{:style => "display: none;"}
      =image_tag "facebox/loading.gif"